{% load bootstrap %}
<script type="text/javascript">
 $('#demo-form2').submit(function(e){
        e.preventDefault();
        var dato=$(this).serialize();
        $.ajax({
            type:'POST',
            url:'/NewProveedor/',
            data: dato,
            success:function(resp){
                $(".modal-body").html("<div class='alert alert-success' role='alert'>"+resp+"</div>");
                VerProveedores();
                
            }
        });
    });
</script>
<div class="table-responsive">
 <form method="POST" role="form" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" >
    {% csrf_token %}
                {{forms|bootstrap_horizontal}}
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Registrar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="reset" class="btn btn-warning">Borrar</button>
    </div>
  </form>
</div>