<style type="text/css">
.btn-group{width: 100%;}
.btn-group #demo-form2{float: right; width:450px}
.btn-group #demo-form2 select{width: 64%;}
.btn-group #demo-form2 button{float: right;
    margin-top: -35px;}
</style>
<div id="controles">
  <div class="btn-group">
   <form role="form" id="demo-form2" method="get" data-parsley-validate class="form-horizontal form-label-left">
    <select name="stock" id="stock_id" class="form-control" required>
    	<option value="0">Todos los productos</option>
    	<option value="1">Menores ó iguales a 10</option>
    	<option value="2">Mayores a 10 y menores ó iguales a 50</option>
    	<option value="3">Mayores a 50 productos</option>
    	<option value="4">Optener los productos en Baja</option>
    </select>
    <button class="btn btn-warning" type="button" href="#" onclick="ImprimirProducto()"><span class="fa fa-print">
  			Imprimir información
  		</span></button>
</form>
  		<button class="btn btn-success" data-toggle="modal" data-target="#exampleModal" 
  		onclick="NewProducto()"><span class="fa fa-database">
  			Registrar nuevo producto
  		</span></button>
  </div>
</div>
<div class="table-responsive">
<h4 colspan="8" align="center"><strong>INVENTARIO DE PRODUCTOS REGISTRADOS</strong></h4>
<table class="table table-hover table-striped table-bordered dt-responsive datatable" border=1>
<thead>
	<th style="width: 5%;">Nro</th>
	<th>PRODUCTO</th>
	<th style="width: 6%;">UNIDAD</th>
	<th>CATEGORIA</th>
	<th style="width: 5%;">VENTA</th>
	{% if user.is_superuser %}
	<th style="width: 5%;">COMPRA</th>
	{% endif %}
	<th style="width: 8px;" align="center">STOCK</th>
	<th style="width: 10%;" align="center">TOTAL Bs.</th>
	<th style="width: 3%;" align="center">COD</th>
</thead>
{% for i in datos %}
		<tr>
			<td>
				<a href="#" onclick="kardex({{i.id}})" title="Ir a kardex">
					{{forloop.counter}}          <i class="fa fa-plus"></i>
				</a></td>
			<td>{{i.Nombre_producto|upper}}</td>
			<td align="center">{{i.Unidad|upper}}</td>
			<td>{{i.Categoria.Nombre_categoria|upper}}</td>
			<td align="center">{{i.Precio_venta}}</td>
			{% if user.is_superuser %}
			<td align="center">{{i.Precio_compra}}</td>
			{% endif %}
			{% if i.Stock <= 10 %}
			<td style="background-color: #d6a4a4" align="center">{{i.Stock}}</td>
			{% else %}
				{% if i.Stock <= 50 %}
			<td style="background-color:rgba(203,235,6,0.85)" align="center">{{i.Stock}}</td>
				{% else %}
					{% if i.Stock > 50 %}
					<td style="background-color:rgba(68,201,66,0.85)" align="center">{{i.Stock}}</td>
					{% endif %}
				{% endif %}
			{% endif %}
			<td>{{i.total}}</td>
			<td align="center">{{i.id}}</td>
		</tr>
{% empty %}
<tr>
	<td><h4 colspan="8" align="center"><strong>No hay registros para esta consulta.</strong></h4></td>
</tr>
{% endfor %}
<tr> <td colspan="4"><strong>Totales: </strong></td>
	<td><strong title="Total Ganancia">{{t_ventas}}</strong></td>
	<td><strong title="Total Inverción">{{t_compras}}</strong></td>
	<td><strong>{{stock}}</strong></td><td><strong>{{t}}</strong></td>

</tr>
</table>
</div>
<script type="text/javascript">

function NewProducto(){
	$("#exampleModal .modal-title").text("Registrar nuevo producto");
        $.ajax({
          type:'GET',
          url:'/NewProducto/',
          beforeSend:Espera,
          success:function(resp){
            $(".modal-body").html(resp);
          }
        });
}
function kardex(ids){
	$.ajax({
		type:'GET',
		url:'/kardex/'+ids+'/',
		beforeSend:Espera,
		success:function(res){
			$('.x_content').html(res);
		}
	});
}
function ControlStock(){
	$("#exampleModal .modal-title").text("Consultar el estado de Stock de los productos.");
	$.ajax({
		type:'GET',
		url:'/ControlStock/',
		beforeSend:Espera,
		success:function(res){
			$('.modal-body').html(res);
		}
	});
}
function Espera(){
		$(".modal-body").html('<img src="/static/img/log.gif" id="icono"></img><br>Procesando...');
}
$('#stock_id').on('change',stock);
function stock(){
    var id = $(this).val();
    console.log(id); //aki vemos k el id se esta inprimiendo
    $.ajax({
        type: 'GET',
        url:"/stock_de_productos/"+id+"",
        beforeSend:Espera,
        success: function(data){
            console.log(data);
            $('.table-responsive').html(data);
        }
    });
}
function ImprimirProducto(){
	var id = $("#stock_id").val();
	window.open("/ImprimiarStock/"+id+"/");
}
</script>