{% load bootstrap %}
<script type="text/javascript">
 $('#demo-form2').submit(function(e){
        e.preventDefault();
        var dato=$(this).serialize();
        $.ajax({
            type:'POST',
            url:'/EditSalida/'+{{dato.id}}+'/',
            data: dato,
            success:function(resp){
                $("#exampleModal .modal-title").text("");
                $(".modal-body").html("<div class='alert alert-success' role='alert'>"+resp+"</div>");
                $.ajax({
                    type:'GET',
                    url:'/Salida_detalle/'+{{dato.id}}+'/',
                    success:function(res){
                        $('.x_content').html(res);
                    }
                });
            }
        });
    });
</script>
<div class="table-responsive">
 <form method="POST" role="form" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" >
    {% csrf_token %}
                {{forms|bootstrap_horizontal}}
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Editar</button>
    </div>
  </form>
</div>