<meta charset="utf-8">
<div class="table-responsive">
<h2 colspan="8" align="center"><strong>INVENTARIO DE PRODUCTOS REGISTRADOS 
	{% if ids == "4" %} EN BAJA {% endif %} FECHA: {% now 'd /m /Y' %}</strong></h2>
<table class="table table-hover table-striped table-bordered dt-responsive datatable" border="1" style="font-size: 12px;">
<thead>
	<th style="width: 5%;"><br>Nro</th>
	<th><br>PRODUCTO</th>
	<th style="width: 8%;"><br>CÓD</th>
	<th style="width: 16%;"><br>UNIDAD</th>
	<th style="width: 12%;"><br>VENTA</th>
	{% if user.is_superuser %}
	<th><br>COMPRA</th>
	{% endif %}
	<th><br>CATEGORIA</th>
	<th style="width: 12%;" align="center"><br>STOCK</th>
	<th style="width: 12%;"><br>ESTADO</th>
</thead>
{% for i in datos %}
		<tr>
			<td align="center"><br>{{forloop.counter}}</td>
			<td align="center"><br>{{i.Nombre_producto|upper}}</td>
			<td align="center"><br>{{i.id}}</td>
			<td align="center"><br>{{i.Unidad|upper}}</td>
			<td align="center"><br>{{i.Precio_venta}}</td>
			{% if user.is_superuser %}
			<td align="center"><br>{{i.Precio_compra}}</td>
			{% endif %}
			<td align="center"><br>{{i.Categoria.Nombre_categoria|upper}}</td>
			{% if i.Stock <= 10 %}
			<td align="center"><br>{{i.Stock}}</td>
			{% else %}
			<td align="center"><br>{{i.Stock}}</td>
			{% endif %}
			<td align="center"><br>
				{% if i.estado %}
				Alta
				{% else %}
				Baja
				{% endif %}
			</td>
			
		</tr>
{% endfor %}
</table>
</div>