{% load bootstrap %}
<script type="text/javascript">
 $('.table-responsive #demo-form2').submit(function(e){
        e.preventDefault();
        var dato=$(this).serialize();
        $.ajax({
            type:'POST',
            url:'/NewOrden/',
            data: dato,
            error:Errores,
            success:function(resp){
                if(resp!=""){
                    $.ajax({
                        type:'GET',
                        url:'/NewOrden_detalle/'+resp+'/',
                        success:function(resp){
                            $(".x_content").html(resp);
                            
                           $(".modal .close").click();
                        }
                    });
                }
                else{$(".modal-body").html("Ocurrio un error intente nuevamente.");}
            }
        });
    });
 function Errores(){
    alert("El registro ya existe.");
 }
</script>
<div class="table-responsive">
 <form method="POST" role="form" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" >
    {% csrf_token %}
        {{forms|bootstrap_horizontal}}
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Registrar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="reset" class="btn btn-warning">Borrar</button>
    </div>
  </form>
</div>