<script type="text/javascript">
function IngresoProducto(ids){
	$("#exampleModal .modal-title").text("Busque el producto para realizar el ingreso.");
	$.ajax({
		type:'GET',
		url:'/buscar_producto/',
		data:{'ids':ids},
		success:function(res){
			$('.modal-body').html(res);
		}
	});
}
function EditCompra(ids){
	$("#exampleModal .modal-title").text("Editar los datos primarios de la compra");
	$.ajax({
		type:'GET',
		url:'/EditCompra/'+ids+'/',
		success:function(res){
			$('.modal-body').html(res);
		}
	});
}
function EditarProductosDeCompra(ids){
	$("#exampleModal .modal-title").text("Editar el ingreso");
	$.ajax({
		type:'GET',
		url:'/EditarProductosDeCompra/'+ids+'/',
		success:function(res){
			$('.modal-body').html(res);
		}
	});
}
function EliminarProductosDeCompra(ids){
	$("#exampleModal .modal-title").text("Eliminar este ingreso de la lista");
	$.ajax({
		type:'GET',
		url:'/EliminarProductosDeCompra/'+ids+'/',
		success:function(res){
			$('.modal-body').html(res);
		}
	});
}
function EliminarCompra(ids){
	$("#exampleModal .modal-title").text("Eliminar toda la compra");
	$.ajax({
		type:'GET',
		url:'/EliminarCompra/'+ids+'/',
		success:function(res){
			$('.modal-body').html(res);
		}
	});
}
</script>
<div class="btn-group">
<button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" 
  		onclick="IngresoProducto({{dato.id}})"><span class="fa fa-database">
  			Ingresar los productos para este nro. de compra
  		</span></button>
 <button class="btn btn-warning" data-toggle="modal" data-target="#exampleModal" 
  		onclick="EditCompra({{dato.id}})"><span class="fa fa-database">
  			Editar el Nro de la compra
  		</span></button>
 <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" 
  		onclick="EliminarCompra({{dato.id}})"><span class="fa fa-database">
  			Eliminar toda la compra
  		</span></button>
</div>
<div class="table-responsive">
<table class="table table-hover table-striped">
	<tr class="success"><td align="center" colspan="5"> DETALLES DE LA COMPRA NRO:  <strong>{{dato.Nro_de_Compra}}</strong></td></tr>
	<tr>
		<td colspan="2">RESPONSABLE: <strong>{{dato.Responsable|upper}}</strong></td>
		<td>PROVEEDOR: <strong>{{dato.proveedor|upper}}</strong></td>
		<td colspan="2">REGISTRADO POR: <strong>{{dato.Usuario.get_full_name|upper}}</strong></td>
	</tr>	
	<tr>
		<td colspan="4">FECHA DE COMPRA: <strong>{{dato.fecha_registro|date:"l d M Y"}}</strong></td>
	</tr>
	<tr>
		<td colspan="4">CORTESIA:  <strong>{% if dato.Cortesia %} {{dato.Cortesia}} {% else %} sin cortesia {% endif %}</strong></td>
	</tr>
</table>
</div>
<!-- lista de ingresos de productos para la compra -->
<div class="table-responsive">
	<h4 colspan="10" align="center">LISTA DE PRODUCTOS COMPRADOS</h4>
<table class="table table-hover table-striped table-bordered dt-responsive datatable" id="table-ingresos">
<thead class="success">
	<th style="width: 2%;"></th>
	<th>PRODUCTO</th>
	<th>COD</th>
	<th style="width: 10%;">CANTIDAD</th>
	<th>PREC. UNI.</th>
	<th>TOTAL</th>
	<th>FECHA VENC.</th>
	<th>FECHA REG.</th>
	<th></th>
</thead>
{% for i in dato.ingreso.all %}

		<tr>
			<td>{{forloop.counter}}</td>
			<td>{{i.producto.Nombre_producto|upper}}</td>
			<td>{{i.producto.id}}</td>
			<td>{{i.cantidad}} {{i.producto.Unidad}}s</td>
			<td>{{i.Precio_unidad}}</td>
			<td>{{i.total}}</td>
			<td>{{i.fecha_de_vencimiento}}</td>
			<td>{{i.fecha_registro|date:"d-m-Y"}}</td>
			<td>
				<div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-sm" type="button" aria-expanded="false">Opciones <span class="caret"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu">
                    {% if i.estado %}
                      <li><a href="#" onclick="EditarProductosDeCompra({{i.id}})" data-toggle="modal" data-target="#exampleModal">Editar</a></li>
                      <li><a href="#" onclick="EliminarProductosDeCompra({{i.id}})" data-toggle="modal" data-target="#exampleModal">Eliminar</a></li> 
                      
                      {% endif %}
                    </ul>
                  </div>
             </td>
		</tr>
{% endfor %}
<tr>
 <td colspan="3">Total:<strong>{{total}} </strong></td>
		<td><strong>{{dato.Total_paquetes}}</strong></td>
		<td></td>
		<td><strong>{{dato.Total_sin_descuento}}</strong></td>
		
 </tr>
 <tr>
<td colspan="2">Descuento {{dato.Descuento}}%: </td><td><strong>{{dato.descuento}}</strong></td>
<td colspan="2">Total a cancelar: </td><td><strong>{{dato.toto_pago}}</strong></td>
 </tr>
 
</table>
</div>