<style type="text/css">
#table-ingresos{font-size: 13px;}
#controles{left: 30px}
#controles select{margin: inherit; width: 20%;}
#controles form{width: 100%;float: left;margin-left:  0px;}
#controles form input{width: 15%;float: left;}
</style>
<script type="text/javascript">

function InprimirIngreso(){
	var inicio = $("#ini").val();
	var fin = $("#fin").val();
	var proveedor = $("#user").val();
	var usuario = $("#usuario").val();
	if(inicio=='' || fin =='' || !isNaN(inicio) || !isNaN(fin)){
		alert("Por favor Ingrese la fecha correctamente.");
		$("#ini").focus();
		return false
	}
	else{
		var ii =inicio.split('/');//la conveti en un array
		var a = ii[0]+"-"+ii[1]+"-"+ii[2];
		var ff = fin.split('/')
		var b = ff[0]+"-"+ff[1]+"-"+ff[2];
		window.open("/ImprimiarIngresos/"+usuario+"/"+proveedor+"/"+a+"/"+b+"/");
	}
}
function NewOrden(){
	$("#exampleModal .modal-title").text("Registrar compra de productos");
	$.ajax({
	      type:"GET",
	      url:"/NewOrden/",
	      success:function(resp){
	        $(".modal-body").html(resp);
	      }
	  });
}

$(document).ready(Sheart);
    function Sheart(){ 
      var tbuscar=$("#compra_id").attr('autocomplete','off');
      tbuscar.keypress(buscarCompra);
  }
 function buscarCompra(){
    $.ajax({
        type:'GET',
        url:'/buscarCompra/',
        data:$("#compra_id").serialize(),
        success:resultado,
        error:errores
    });
}
$("#Tipo").submit(function(e){
        e.preventDefault();
          $.ajax({
              type:"POST",
              url:"/buscarCompra/",
              data:$(this).serialize(),
              success:resultado,
              error:errores
          });
      });
function resultado(data){
    $(".table-responsive").fadeIn("slow");
    console.log(data);
    $(".table-responsive").html(data);
}
function errores(){
    console.log("Error");
}
</script>

<div class="page-title">
	<div class="title_left">
			{% if user.is_superuser %}
<button class="btn btn-success" onclick="NewOrden()" data-toggle="modal" data-target="#exampleModal">Registrar nueva compra</button>
			{% endif %}
	<button class="btn btn-primary" onclick="Consultar()" data-toggle="modal" data-target="#exampleModal">Consultar planilla de compras</button>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
          <form method='POST' id='Tipo' class="sidebar-form">
          	{% csrf_token %}
			        <div class="input-group">
			          <input type="text" name="compra" id="compra_id" class="form-control" placeholder="BUSCAR INGRESO" required>
			              <span class="input-group-btn">
			                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
			                </button>
			              </span>
			              
			        </div>
			        <p class="help-block">
                    Buscar por código ó responsable
                </p>
			  </form>
			  </div>
	        </div>
	      </div>
	    </div>

<div class="table-responsive">
	<h4 colspan="8" align="center"><strong>COMPRA DE PRODUCTOS REGISTRADOS EN EL SISTEMA</strong></h4>
<table class="table table-hover table-striped table-bordered dt-responsive datatable" id="table-ingresos">
<thead  class="success">
		<th style="width: 3%;">Nro</th>
		<th style="width: 12%;">CÓD COMPRA</th>
		<th>RESPONSABLE</th>
		<th style="width: 6%;">CORTESIA</th>
		<th>PROVEEDOR</th>
		<th>F. DE COMPRA.</th>
		<th>REG. POR</th>
</thead >

{% for i in datos %}
		<tr>
			<td>
			
				<a href="#" onclick="NewOrden_detalle({{i.id}})" title="Ir a detalles">
					{{forloop.counter}}        <i class="fa fa-plus"></i>
				</a>
			</td>

			<td align="center"> {{i.Nro_de_Compra}}</td>
			<td>{{i.Responsable|upper}}</td>
			<td>{% if i.Cortesia %}
					SI
				{% else %}
					NO
				{% endif %}
			</td>
			<td>{{i.proveedor|upper}}</td>
			<td>{{i.fecha_registro|date:"l d M Y"}}</td>
			<td>{{i.Usuario.get_full_name|upper}}</td>
		</tr>
	{% empty %}
	<tr> <td colspan="10" align="center"><strong>No se encontró registros</strong></td> </tr>
{% endfor %}
</table>
</div>
<script type="text/javascript">
function NewOrden_detalle(ids){
	$.ajax({
		type:'GET',
		url:'/NewOrden_detalle/'+ids+'/',
		beforeSend:Espera,
		success:function(res){
			$('.x_content').html(res);
		}
	});
}
function Consultar(){
	 $("#exampleModal .modal-title").text("Realizar consultas avanzadas");
	$.ajax({
		type:'GET',
		url:'/filtar_ingresos/',
		success:function(res){
			 $(".modal-body").html(res);
		}
	});
}
</script>