{% load bootstrap %}
<script type="text/javascript">
$('#id_username').blur(ejecutar);
        function ejecutar(){
            var use= $('#id_username').val();
            $.ajax({
                type:'get',
                url:'/verificacion/',
                data:{'use': use },
                beforeSend: entesEnviar,
                success:function (resp){
                    console.log(resp);
                    $('#valid').html(resp);
                }
            });
            function entesEnviar(){
                $('#valid').text("Verificando...")
            }
        }
    $('#demo-form2').submit(function(e){
        e.preventDefault();
        var dato=$(this).serialize();
        console.log(dato);
        $.ajax({
            type:'POST',
            url:'/nuevo/',
            data: dato,
            success:function(resp){
                console.log(resp);
                $('#FormAjax').html(resp);
                $("#exampleModal .modal-title").text("");
                $(".modal-body").html("<h2>Registro exitoso</h2>");
                DatosUser();
            }
        });
    });
</script>
<div class="table-responsive">
 <form method="POST" role="form" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" > 
    <p>Complete todo los campos de manera correcta.</p>
    {% csrf_token %}
         {{form|bootstrap_horizontal}}
     <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
  </form>
  <p id="valid" style="color:red; text_align:center;"></p>
</div>